body {
    background-color: rgb(244, 226, 148); 
    color: rgb(33, 111, 26);
}

header {
    display: flex; 
    align-items: center; 
}

header h1 {
    margin-bottom: 20px; 
}

header *:not(h1) {
    margin: 10; 
    padding: 0; 
}

section {
    border: 2px solid rgb(49, 172, 38); 
    padding: 10px; 
    margin-bottom: 20px;
}

#fotoCarnet {
    width: 100px; 
    height: auto;
    margin-right: 20px; 
    border-radius: 10%;
}

#infoHeader {
    margin-left: 10px;
}